body{
  background-color: black;
  background: linear-gradient(45deg, #fff722, #ff26f9);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 1rem;
  
  
}

.calc-wrapper{
  background-color: #333C83;
  
  width: 420px;
  border-radius: 16px;
}

.row{
  display: flex;
}
.heading{
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 16px 16px 0px 0px;
  padding: 0.5rem;
}


